<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mediachurros - Movies</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
			<li class="active"><a href="#">Movies</a></li>
			<li><a href="/add">Add</a></li>
        </ul>
        <h3 class="text-muted">Movies</h3>
      </div>
		<div id="moviestbl">
		<table class="table table-hover">
		  <table class="table table-hover"> 
							<thead> 
							<th>Title</th> 
							<th>Year</th> 
							<th>Type</th> 
							<th>Tags</th> 
							<th>URL</th>  
						</thead> 
						<tbody>
		  <% for (var i = 0; i < movies.length; i++) { %>
			<tr>
			  <td><%= movies[i].title.S %></td>
			  <td><%= movies[i].year.S %></td>
			  <td><%= movies[i].type.S %></td>
			  <td><%= movies[i].tags.S %></td>
			  <td><a href ="<%= movies[i].url.S %>"><%= movies[i].url.S %></td>
			</tr>    
		  <% } %>
		  </tbody>
		</table>
		</div>
      <div class="footer">
        <p>&copy; Aditya Gune, 2017	</p>
      </div>

    </div> <!-- /container -->

    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
	<script>
	
	$(document).ready(function() {
		$('#moviestbl').append('');	
	});
	</script>
	
  </body>
</html>
